*{
		margin:0px;
		padding:0px;
		box-sizing:border-box;
}
html body{background:#070600}
a{text-decoration:none;}
.clearfix{clear:both;}

.con{
	min-height:600px;
	background:#070600;
	width:95%;
	margin:0px auto;
}
.hdr{
	min-height:50px;
	width:100%;
}
.hdr h1{
	color:#FF4D00; /*#CF81FF*/
	font-size:70px;
	font-family:"Olympia Deco";
	font-weight:100;
	text-align:center;
	padding-top:40px;
	padding-bottom:40px;
}
.hdr h1 span{
	color:#ffe600;
	margin-left:10px;
	font-weight:900;
}

	

.tile{
	min-height:400px;
	width:33%;
	float:left;
	margin:2px;
	padding-bottom:20px;
}
.tile .img{
	width:170px;
	margin:auto;
}
.tile .img h1{
	text-align:center;
	font-size: 200px;
	margin:auto;
	margin-top:2%;
	color:#ffe600;
	border:5px dotted #FF4D00;
}

.tile .label{
	background:#8d5e00;
	background:linear-gradient(#8d5e00,#593b00);
	color:white;
	border-radius:5%;
	width:80%;
	margin:5px auto;
	margin-top:20px;
}

.tile .label h3{
	font-size:30px;
	font-weight:30;
	text-align:center;
	padding-top:10px;
	padding-bottom:10px;
}
.footer{
	color:white;
	min-height:200px;
	background:#291600;
	margin-top:20px;
}
.feedback{
	
	padding:5px;
	width:50%;
	float:left;
}
.feedback h3{
	font-size:25px;
	text-align:center;
}
.feedback-img{
	width:50%;
	margin:0px auto;
}
.feedback-img img{
	width:20%;
	height:20%;
	margin-right:20px;
	margin-top:20px;
	margin-bottom:20px;
}
.feedback-desc p{
	font-size:20px;
	padding-top:20px;

}



.subhdr{
	color:#00ff1e;
}
.subhdr h3{
	font-size:60px;
	font-weight:30;
	text-align:center;
	padding-top:10px;
	padding-bottom:10px;
}
.link{
	min-height:20px;
	background:#070600;
	border-top:1px #524a00 solid;
	font-size:20px;
	word-wrap:break-word;
}
.link:hover{
	background:#332b00;
}
.l-title{
	width:50%;
	float:left;
	padding-left:5px;
	color:#00ff1e;
}
.l-desc{
	width:50%;
	float:right;
	color:white;
	padding-left:5px;
}

@media screen and (max-width:600px){
	.con{
		width:100%;
	}
	.tile{
		min-height:300px;
		width:100%;
		float:left;
		padding-bottom:20px;
	}
	.tile .img img{
		opacity:.5;
		padding-top:50px;
	}
	.feedback{
		width:100%;
		float:left;
	}
	.feedback-img{
		width:50%;
		margin:0px auto;
	}
	.feedback-img img{
		width:20%;
		height:20%;
		margin-right:20px;
		margin-top:20px;
		margin-bottom:20px;
	}
	.feedback-desc p{
		font-size:14px;
		padding:20px;

	}
}