@font-face{
	font-family: 'Monsterrat';
	src:url('Montserrat-VariableFont_wght.ttf');
	font-weight: 100 900;
	font-style: normal;
	font-display:swap;
}


*{margin:0px;padding:0px;box-sizing:border-box;font-family:'Monsterrat'}
html body{background:#1c1c1c;}
a{text-decoration:none;}
.clearfix{clear:both;}
.con{
	min-height:600px;
	background:#1c1c1c;
	width:95%;
	margin:0px auto;
}
.hdr{
	min-height:200px;
	width:100%;
	display:block;
}
.hdr-logo{display:inline-block;width: 50%;float:left;}
.hdr-logo h1{
	color:#9900FF;
	font-size:70px;
	font-weight:900;
	text-align:left;
	display:inline-block;
	position:relative;
	bottom:60px;

}
.hdr-logo h1 span{
	color:#F4E3FF;
	margin-left:10px;
	font-weight:900;
}
.hdr-feedback{float:left;width:50%;}
.feedback{
	color:white;
	display:inline-block;
	float:right;
	margin-top:70px;
	height:50px;
	font-size:32px;
	font-weight:500;
	padding:5px;
	border-radius:20px;
	background:linear-gradient(190deg,rgba(89, 0, 184, 1) 0%, rgba(204, 66, 2, 1) 53%, rgba(176, 150, 0, 1) 100%);
}

.tile{
	width:33%;
	min-height:300px;
	float:left;
	margin:2px;
}
.tile:hover{border:2px solid;border-image:linear-gradient(200deg,rgba(136, 0, 255, 1) 0%, rgba(255, 81, 0, 1) 53%, rgba(255, 217, 0, 1) 100%);border-image-slice:1;}
.tile a{display:block;width:80%;}



.tile .label{
	background:#00426b;
	background: linear-gradient(90deg,rgba(68, 0, 255, 1) 0%, rgba(228, 28, 246, 1) 35%, rgba(240, 196, 0, 0.5) 64%, rgba(240, 224, 0, 0) 100%);
	color:white;
	border-radius:5%;
	margin-top:5px;
}
.tile .label h3{
	font-size:30px;
	font-weight: 100px;
	text-align:left;
	padding-top:10px;
	padding-left:10px;
	padding-bottom:10px;
}
.desc{
	color:#CCCCCC;
	font-size:32px;
	padding:10px;
}
.desc p:hover{color:#FFE7C7}
.subhdr h3{
	color:#BFDED8;
	font-size:48px;
	font-weight:500;
	text-align:center;
	padding-top:10px;
	padding-bottom:10px;
}
.link{
	min-height:20px;
	background:#070600;
	border:1px #73FFFF dashed;
	font-size:30px;
	word-wrap:break-word;
}
.link:hover{
	background:#004545;
	font-weight:500;
}
.l-title{
	width:50%;
	float:left;
	padding-left:5px;
	color:#00FFEE;
}
.l-desc{
	width:50%;
	float:right;
	color:white;
	padding-left:5px;
}
.block-links{padding-bottom:100px;}

@media screen and (max-width:600px){
	.con{width:100%}
	.tile{width:100%; float:left; padding-bottom:5px;min-height:10px;}
	.tile:hover{border:2px solid;border-color:rgba(0,0,0,0);}
	.desc{display:none;}
	.desc p{display:none;}
	.desc p:hover{display:none;}
	.hdr-logo{display:block;width:100%;}
	.hdr-logo img{display:block;width:300px;height:300px;margin-left:auto;margin-right:auto}
	.hdr-logo h1{display:block;text-align:center;}
	.feedback{position:absolute;top:-50px;font-size:16px;height:25px;}
	.tiles{padding-top:200px;padding-bottom:50px}
	.subhdr h3{font-size:32px;display:block;padding-top:50px;padding-bottom:30px;}
	.block-links{padding-bottom:50px;}
	.link{font-size:20px;}
	.link:hover{background:#070600;font-weight:400;}

}